body {
  font-family: $font_main;
  font-size: 15px;
  line-height: 1.3;
  color: $color_main;
  min-width: 320px;
  position: relative;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  appearance: none;
}

#site {
  min-width: 320px;
  overflow: hidden;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  background: $color_black-fon url("../images/site_bg.jpg") repeat center center;
  position: relative;

  &.content-page {
    background: $color_black-fon;
  }
}

.footer {
  display: table-row;
  height: 1px;
}

.content-page {
  padding-top: 83px;

  .header {
    background: $color_head-fon;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    .top-line {
      padding: 20px 0;
    }
  }
}

.fixed {
  max-width: 1170px;
  margin: 0 auto;
}

.fixed_2 {
  max-width: 970px;
  margin: 0 auto;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 23px 0;
}

.logo {
  img {
    display: block;
  }
}

.btn-reg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 43px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font: bold 14px/130% $font_main;
  color: rgba(255, 255, 255, 0.8);
  transition: all 300ms linear;
  text-transform: uppercase;

  &:hover {
    color: $color_black;
    background: $color_white;
    border-color: $color_white;
  }
}

.first-block {
  min-height: 400px;
  padding: 28px 0 55px 0;
}

.filter-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filter-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filter-cell {
  width: 225px;
  margin-right: 15px;
}

.fc-label {
  display: block;
  margin-bottom: 7px;
  font: 600 13px/130% $font_main;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.fc-text-field {
  border: 1px solid $color-grey;
  background: $color-grey;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  margin: 0;
  font: 15px/130% $font_main;
  color: $color-white;
  padding: 0 30px 0 15px;

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color-white;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $color-white;
  }

  &:-moz-placeholder {
    opacity: 1;
    color: $color-white;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $color-white;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
  }

  &:focus:-moz-placeholder {
    opacity: 0;
  }

  &:focus:-ms-input-placeholder {
    opacity: 0;
  }
}

/**/
.fc-select {
  width: 100%;

  .ui-selectmenu-button.ui-button {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: relative;
  }

  .ui-selectmenu-button {
    border: 1px solid $color-grey;
    background: $color_grey;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &.ui-selectmenu-button-open {
      border-radius: 5px 5px 0 0;
    }
  }

  .ui-selectmenu-button .ui-selectmenu-text {
    background: none;
    padding: 0 30px 0 15px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 15px/130% $font_main;
    color: $color-white;
    position: relative;
    margin: 0;
    box-sizing: border-box;
  }

  .ui-selectmenu-button .ui-icon-triangle-1-s {
    position: absolute;
    right: 16px;
    margin-top: 0;
    top: 21px;
    background: none;
    z-index: 10;
    text-indent: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: $color_white transparent transparent transparent;
  }
}

.popup-open {
  .ui-selectmenu-menu {
    position: fixed;
  }
}

.ui-selectmenu-menu .ui-menu {
  border-color: $color-grey;
  border-radius: 0 0 5px 5px;
  background: $color_grey;
  //margin-top: -1px;
  max-height: 200px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.ui-selectmenu-menu .ui-menu li {
  border: none;
  border-top: 1px solid #000;
  text-align: left;
  display: block;
}

.ui-selectmenu-menu .ui-menu li:first-child,
.ui-menu li:first-child.ui-state-focus {
}

.ui-menu .ui-menu-item-wrapper {
  font: 14px/130% $font_main;
  color: $color_main;
  text-align: left;
  padding: 6px 10px;
  border: none;

  &.ui-state-active {
    background: $color_main;
    color: $color_white;
    padding: 6px 10px;
    font-weight: normal;
  }
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: 0;
}

/**/

.filter-sub {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 155px;
  height: 48px;
  border-radius: 5px;
  border: 1.5px solid $color-gold;
  background: $color-gold;
  text-align: center;
  font: bold 14px/130% $font_main;
  color: $color_black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    background: $color_black-fon;
    color: $color_white;
  }
}

.more-link {
  text-decoration: none;
  font: 15px/130% $font_main;
  color: $color_white;
  transition: all 300ms linear;
  position: relative;
  padding-right: 16px;
  margin-top: 30px;

  &:hover {
    color: $color-gold;

    &:after {
      right: -10px;
    }
  }

  &:after {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 300ms linear;
    font-size: 12px;
    color: $color-gold;
    content: "\e900";
  }
}

.show-more-block {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: $color-grey;
    border-width: 0 10px;
  }

  &:before {
    margin-left: -100%;
    margin-right: 21px;
  }

  &:after {
    margin-right: -100%;
    margin-left: 21px;
  }
}

.more-show {
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font: bold 14px/130% $font_main;
  color: rgba(255, 255, 255, 0.8);
  transition: all 300ms linear;
  text-transform: uppercase;

  &:hover {
    color: #333;
    background: #fff;
    border-color: #fff;
  }
}

.title {
  margin-bottom: 55px;
  position: relative;
  text-align: center;
  font: 300 56px/130% $font_main;
  color: $color-white;

  span {
    font-weight: 800;
    color: $color-gold;
  }
}

/*------------------------------*/

.section-stories {
  padding: 90px 0 50px 0;
  background: url("../images/stories_bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 741px;
  position: relative;
  z-index: 1;
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(#212121, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .show-more-block {
    &:before,
    &:after {
      background: rgba(255, 255, 255, 0.12);
    }
  }
}

.reviews-slider {
}

.slick-prev,
.slick-next {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  z-index: 10;
  margin-top: -10px;
  transition: all 300ms linear;

  &:hover {
    border-color: $color_white;
    background: $color_white;

    &:before {
      color: $color-black;
    }
  }

  &:before {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: $color-gold;
    transition: all 300ms linear;
  }
}

.slick-prev {
  left: 0;

  &:before {
    content: "\e90b";
    margin-left: -3px;
  }
}

.slick-next {
  right: 0;

  &:before {
    content: "\e90a";
    margin-right: -3px;
  }
}

.slick-dots {
  bottom: -40px;

  li {
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
    border-radius: 50%;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color_white;
      opacity: 0.15;
      transition: all 300ms linear;

      &:before {
        display: none;
      }
    }

    &.slick-active button {
      opacity: 1;
      background: $color-gold;
    }
  }
}

.rs-item {
  max-width: 770px;
  margin: 0 auto;
}

.rs-pic {
  list-style-position: outside;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px -15px 30px -15px;

  li {
    margin: 0 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;

    &.active {
      width: 120px;
      height: 120px;

      &:before {
        content: "";
        position: absolute;
        left: -7px;
        top: -7px;
        right: -7px;
        bottom: -7px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.05);
      }

      img {
        -webkit-filter: none;
        filter: none;
      }
    }

    img {
      display: block;
      width: 100%;
      border-radius: 50%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      position: relative;
      z-index: 2;
    }
  }
}

.rs-name {
  margin-bottom: 15px;
  text-align: center;
  font: bold 18px/130% $font_main;
  color: $color_white;

  span {
    color: $color-gold;
  }
}

.rs-text {
  text-align: center;
  font: italic 16px/160% $font_main;
  color: $color_white;

  a {
    text-decoration: none;
    color: $color-gold;
  }
}

/*-----------------------------*/

.section-block {
  padding: 80px 0;
  background: $color_black-fon;
}

.feature-list {
  list-style-position: outside;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 65px 0 0 0;

  li {
    margin: 0;
    position: relative;
    width: 23.1%;
    font: 16px/145% $font_main;
    color: rgba(255, 255, 255, 0.7);

    .rl-pic {
      margin-bottom: 22px;
    }

    h3 {
      margin-bottom: 14px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.section-reg {
  min-height: 737px;
  padding: 85px 0;
  background: url("../images/sr_bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(#212121, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.sr-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 970px;
  margin: 0 auto;
}

.sr-title {
  max-width: 470px;
  font: 300 48px/145% $font_main;
  color: $color_white;

  span {
    color: $color_gold;
    font-weight: 800;
  }
}

.reg-form {
  flex-shrink: 0;
  background: $color_black-fon;
  border-top: 3px solid $color-gold;
  padding: 40px 15px;
  width: 370px;

  .btn {
    width: 100%;
  }
}

.rf-title {
  text-align: center;
  margin-bottom: 10px;
  font: 800 32px/120% $font_title !important;
  color: $color_white;
  text-transform: uppercase;
}

.rf-text {
  text-align: center;
  margin-bottom: 25px;
  font: 18px/130% $font_main;
  color: rgba(255, 255, 255, 0.7);
}

.rf-body {
  max-width: 290px;
  margin: 0 auto;
}

.rf-row {
  margin-bottom: 15px;
  position: relative;

  .rf-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $color_gold;
    line-height: 1;
    font-size: 16px;
    z-index: 2;
  }
}

.rf-text-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  padding: 0 15px 0 40px;
  border-radius: 5px;
  border: 1px solid $color-grey;
  background: $color-grey;
  font: 15px/130% $font_main;
  color: #fff;

  &:placeholder {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
  }

  &:focus:-moz-placeholder {
    opacity: 0;
  }
}

a.btn,
span.btn,
div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: $color-gold;
  border-radius: 5px;
  border: 1px solid $color-gold;
  text-align: center;
  font: bold 16px/130% $font_main;
  color: $color_black;
  text-decoration: none;
  transition: all 300ms linear;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: $color_white;
  }
}

.join-text {
  overflow: hidden;
  margin: 16px 0;
  text-align: center;
  font: 600 16px/130% $font_main;
  color: $color_main;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
  }

  &:before {
    margin-left: -100%;
    margin-right: 15px;
  }

  &:after {
    margin-right: -100%;
    margin-left: 15px;
  }
}

.rf-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.rf-cell {
  width: 47%;
}

.sign-fb {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border: 1px solid #4267b2;
  padding: 0;
  margin: 0;
  background: #4267b2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: bold 13px/100% $font_main;
  color: $color_white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  .icon-facebook {
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
  }
}

.sign-google {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border: 1px solid #e3e3e3;
  padding: 0;
  margin: 0;
  background: #fff;
  text-align: center;
  font: bold 13px/130% $font_main;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  .icon-google-color {
    font-weight: normal;
    margin-right: 10px;
  }
}

.privacy-policy {
  text-align: center;
  font: 14px/140% $font_main;
  color: rgba(255, 255, 255, 0.54);

  a {
    color: rgba(255, 255, 255, 0.54);
  }
}

/*----------------------------*/
.twitter-typeahead {
  display: block;
  width: 100%;
}

.tt-menu {
  width: 100%;
  margin: 0px 0 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #262729;
  text-align: left;
  cursor: pointer;
}

.tt-suggestion {
  padding: 3px 25px;
  font-size: 14px;
  line-height: 24px;

  &:hover {
    background: #ccc;
  }
}

/*----------------------------*/

.footer-block {
  padding: 20px 0;
  background: $color_black-fon;

  &.mar {
    background: #131313;
  }
}

.footer-body {
  position: relative;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 10px;

  img {
    display: block;
  }
}

.copyright {
  text-align: center;
  font: 14px/130% $font_main;
  color: #bdbdbd;
}

.scrollup {
  background: $color_black-fon;
  height: 48px;
  width: 48px;
  opacity: 0.5;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 90;
  cursor: pointer;
  font-size: 12px;
  transition: all 300ms linear;
  color: $color-gold;

  &:before {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "\e909";
  }

  &:hover {
    opacity: 1;
  }
}

.section_1 {
  padding: 27px 0 80px 0;
}

.pb-menu {
  margin: 0 -7px 30px -7px;
  list-style-position: outside;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  li {
    cursor: pointer;
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0 7px;

    &.active {
      .pb-item {
        background: $color_white;
        border-color: $color-white;
        color: $color-black;
      }
    }

    .pb-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      padding: 5px 2px;
      transition: all 300ms linear;
      background: transparent;
      text-align: center;
      text-decoration: none;
      font: 600 15px/130% $font_main;
      color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;

      &:hover {
        background: $color_white;
        border-color: $color-white;
        color: $color-black;
      }

      & > span {
        display: block;
        margin-right: 10px;
        color: $color-gold;
      }

      b {
        font-weight: inherit;

        span {
          display: none;
        }
      }
    }
  }
}

.pb-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pb-pic-block {
  flex-shrink: 0;
  width: 370px;
  margin-right: 30px;

  img {
    display: block;
    width: 100%;
  }
}

.profile-cont {
  width: 100%;
  min-width: 100px;
  max-width: 100%;
}

/*---------------------------*/
.photo-gallery {
  grid-area: photo-gallery;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 20px;

  .pg-item {
    position: relative;
    display: none;
    border-radius: 2px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 128%;

    &:nth-child(-n + 4) {
      display: block;
    }

    &:nth-child(4) {
      .more-photo {
        display: flex;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .pg-zoom {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 300ms linear;
      background: rgba(0, 0, 0, 0.6);
      font-size: 20px;
      color: $color_white;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }

    .more-photo {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background: rgba(0, 0, 0, 0.6);
      font: 600 14px/130% $font_main;
      color: $color_black;
      text-decoration: none;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        height: 29px;
        border-radius: 15px;
        background: $color-gold;
      }
    }
  }
}

.imitation-scroll {
  margin-bottom: 33px;
  position: relative;
  height: 3px;
  background: rgba(255, 255, 255, 0.13);

  span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: $color-gold;
  }
}

/*-------------------------------*/
.pc-info {
  font: 300 32px/130% $font_main;
  color: $color-white;
  margin-bottom: 22px;

  span {
    color: $color-gold;
    font-weight: bold;
  }

  b {
    color: rgba(255, 255, 255, 0.2);
  }
}

.pc-data-block {
  grid-area: pc-data-block;
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 12px;
  font: 16px/130% $font_main;
  color: rgba(255, 255, 255, 0.7);

  span {
    font-weight: 600;
  }
}

.tabs {
  margin-top: 40px;
  font: 16px/180% $font_main;
  color: rgba(255, 255, 255, 0.7);
  position: relative;

  h3 {
    margin: 24px 0 10px 0;
    font: bold 18px/130% $font_main;
    color: $color-gold;
  }

  .register-block {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(33, 33, 33, 0) 0%,
      rgba(33, 33, 33, 0.5) 100%
    );
    backdrop-filter: blur(15px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.bookmark {
  list-style-position: outside;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -50px;

  li {
    margin-left: 50px;
    margin-bottom: 8px;
    padding: 10px 0;
    position: relative;
    font: 600 20px/130% $font_main;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 300ms linear;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: $color-gold;
      transition: all 300ms linear;
    }

    &:hover {
      color: $color_white;
    }

    &.active {
      cursor: default;
      color: $color_white;

      &:before {
        width: 100%;
      }
    }
  }
}

.popup-fon {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  -moz-backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 99;
}

.popup-reg {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.25);
  background: $color_black-fon;
  border-top: 3px solid $color-gold;
  padding: 40px 15px;
  max-width: 370px;
  width: 96%;
  animation: fade 0.3s ease-in-out;

  .close-popup {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;

    &:hover {
      &:before,
      &:after {
        background: $color_gold;
        opacity: 1;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px 0 0 -2px;
      height: 20px;
      width: 2px;
      background: $color_white;
      transform: rotate(45deg);
      transition: all 300ms linear;
      opacity: 0.3;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
  .rf-title {
    margin-top: 0;
    color: #fff !important;
  }
}

.title-2 {
  margin-bottom: 26px;
  font: 300 40px/130% $font_main;
  color: $color_white;

  span {
    font-weight: 800;
    color: $color-gold;
  }
}

.profile-slider {
  margin: 0 -12.5px;

  &__slide {
    margin: 0 12.5px;
  }

  .slick-prev,
  .slick-next {
    margin-top: 0;
  }

  .slick-prev {
    left: -90px;
  }

  .slick-next {
    right: -90px;
  }
}

.picture-left-block {
  position: relative;
}

.plb-wrap {
  padding: 70px 0 50px 42.5%;
  min-height: 465px;
  font: 16px/180% $font_main;
  color: rgba(255, 255, 255, 0.7);

  h3 {
    margin-bottom: 20px;
    font: 300 36px/138% $font_main;
    color: $color_white;

    span {
      font-weight: 800;
      color: $color-gold;
    }
  }

  h4 {
    margin-bottom: 23px;
    font: 600 18px/138% $font_main;
    color: $color_white;
  }

  a {
    text-decoration: none;
    color: $color-gold;

    &:hover {
      color: $color-gold;
    }
  }
}

.plb-pic {
  position: absolute;
  right: 58%;
  max-width: 600px;
  top: 0;
  bottom: 0;
  width: 41%;
  background: url("../images/img/plb-pic.jpg") no-repeat center center;
  background-size: cover;
}

.filter-2 {
  background: $color-black;
  padding: 33px 0 33px 0;
  margin-bottom: 55px;

  .filter-cell {
    &.filter-age {
      width: 100px;
    }
  }

  .fc-label {
    margin-bottom: 8px;
  }
}

.filter-btn-block {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color_white;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  text-decoration: none;
  line-height: 1;
  color: $color-black;
  font-size: 15px;
  margin-left: 15px;
  border: 1px solid $color_white;
  transition: all 300ms linear;

  &:hover {
    background: $color-black;
    color: $color_white;
  }
}

.pagination-links {
  margin: 50px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.12);
    margin-right: 20px;
  }

  .page-numbers,
  .current,
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 40px;
    height: 40px;
    margin: 0 5px;
    padding: 0 2px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    text-align: center;
    font: bold 14px/130% $font_main;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 300ms linear;
  }

  .current,
  .page-numbers:hover {
    color: $color_white;
    border-color: $color-gold;
  }

  .dots:hover {
    border-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.5);
  }

  .prev.page-numbers:before,
  .next.page-numbers:before {
    display: block;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .prev.page-numbers:before {
    content: "\e914";
  }

  .next.page-numbers:before {
    content: "\e915";
  }
}

.title-cont {
  margin-bottom: 45px;
  font: 300 36px/132% $font_main;
  color: $color_white;

  span {
    color: $color-gold;
    font-weight: 800;
  }
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font: 16px/180% $font_main;
  color: rgba(255, 255, 255, 0.7);

  .article-left {
    width: 770px;

    p {
      margin-bottom: 23px;
    }

    ul {
      list-style-position: outside;
      list-style: none;

      li {
        margin-bottom: 20px;
        position: relative;
        padding-left: 30px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 9px;
          width: 10px;
          height: 10px;
          background: $color_gold;
        }
      }
    }

    h4 {
      margin-top: 40px;
      margin-bottom: 15px;
      font: bold 24px/130% $font_main;
      color: $color_white;
    }

    a {
      color: $color_gold;
    }
  }

  .article-right {
    width: 370px;
    position: relative;
  }
}

.separator {
  margin: 40px 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}

.article-pic {
  margin-bottom: 40px;

  img {
    display: block;
    width: 100%;
  }
}

.nav-sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 90px;
  width: 100%;

  .reg-form {
    background: $color-black;
    width: 100%;
  }
}

.nav-links {
  list-style-position: outside;
  list-style: none;
  border-top: 2px solid $color-gold;
  margin-bottom: 30px;
  margin-top: 13px;

  li {
    margin-bottom: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    background: $color-black;

    &:first-child {
      border-top: none;
    }

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      font: 16px/135% $font_main;
      color: rgba(255, 255, 255, 0.7);
      transition: all 300ms linear;

      &:hover {
        color: $color-gold;
        text-decoration: underline;
      }
    }
  }
}

.footer {
  background: #1b1b1b;
}

.footer-section-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 28px 0 18px 0;
  max-width: 990px;
}

.footer-section {
  h3 {
    margin-bottom: 15px;
    font: bold 16px/130% $font_main;
    color: $color-white;
    text-transform: uppercase;
  }

  ul {
    list-style-position: outside;
    list-style: none;

    li {
      margin-bottom: 12px;

      a {
        font: 15px/130% $font_main;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        transition: all 300ms linear;

        &:hover {
          color: $color_gold;
          text-decoration: underline;
        }
      }
    }
  }
}

.bottom-line {
  background: #131313;
  padding: 20px 0;
  text-align: center;
}

.fs-sticky-active {
  .filter-sticky {
    top: 69px;
  }
}

.filter-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  background: $color-black;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 990;
  transition: all 500ms linear;

  .filter-2 {
    margin-bottom: 0;
  }
}

.ui-front {
  z-index: 10000;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
