// colors
$color_black-fon: #212121;
$color_head-fon: #1b1b1b;
$color-black: #333333;
$color-grey: #373737;
$color-gold: #f0cf69;
$color_main: #828282;
$color_white: #ffffff;

// fonts
$font_main: "Open Sans", sans-serif;
$font_title: "Akrobat", sans-serif;
